
    <!-- Slider main container-->
<div class="swiper-container home-slider-design mb-5" style="height: 50vh; min-height: 500px;">
    <!-- Additional required wrapper-->
    <div class="swiper-wrapper">
        <!-- Slides-->

            {% for slide in Model.ContentItem.Content.Slides.ContentItems %}

            <div class="swiper-slide {% if slide.Slide.ImageClass.Text.size > 0 %} {{ slide.Slide.ImageClass.Text }} {% endif %} ">
              <div class="container h-100">
                <div class="row h-100 align-items-center">
                  <div class="col-sm-6 pt-2 pt-md-0 pb-2 pb-md-0" data-swiper-parallax="-500">

                    <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">{{ slide.Slide.SubTitle.Text }}</p>
                    <h2 class="display-3 mb-4" style="line-height: 1">{{ slide.Slide.Title.Text }}</h2>
					  <p class="text-muted mb-2 mb-md-4">{{ slide.Slide.ShortDescription.Text }}</p>
					  <a class="btn btn-outline-primary" href="{{ slide.Slide.BtnUrl.Text }}">{{ slide.Slide.BtnText.Text }}</a>
                  </div>
                  <div class="col-sm-6 text-center">

                        <img class="img-fluid home-slider-image" src="{{ slide.Slide.Image.Paths.first | asset_url | resize_url: width:1024 }}" alt="{{ slide.Slide.ImageAltText.Text }}" />

                    <svg class="svg-blob d-none d-md-inline-block svg-blob-fill-current svg-blob-swiper" style="color: #e7eaf9">
                      <use xlink:href="#blob-shape-3"> </use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
    </div>

    <div class="swiper-pagination position-relative"></div>

    <div class="swiper-nav d-none d-lg-block">
        <div class="swiper-button-prev" id="homePrev"> </div>
        <div class="swiper-button-next" id="homeNext"> </div>
    </div>
</div>


